.catalog {
  display: grid;
  grid-template-columns: 1170px 270px;
  gap: 80px 20px;
  grid-template-rows: auto;
  justify-content: center;
  padding: 20px 0;
}

.list {
  grid-column: 1/ 2;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;
}
