.container {
  grid-column: 1 / 2;

  }

  .content {
    height: 145px;
    display: grid;
    grid-template-columns: repeat(6, 170px);
    grid-template-rows: 145px;
    justify-content: center;
    gap: 30px
  }

  // .title {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;

    
  // }

  // .nav {
  //   display: flex;
  //   align-self: flex-end;
  // }

  .name {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #DB4444;
    font-weight: 600;
  }

  .name::before {
    content: "";
    display: block;
    width: 20px;
    height: 40px;
    background-color: #DB4444;
    border-radius: 4px;
  }

  // .description {
  //   font-size: 32px;
  // }
