@tailwind base;
@tailwind components;
@tailwind utilities;

input[type]:focus {
  --tw-ring-inset: none;
}

select[name]:focus {
  --tw-ring-inset: none;
}

/* слайдер */
.slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
